/* Star Wars Temalı CSS */
body {
  background: #000
    url('https://mcdn.wallpapersafari.com/medium/51/46/0eOUfx.jpg') no-repeat
    center center fixed;
  background-size: cover;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.btn {
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn:hover {
  background-color: #ffffff;
  color: #ff0000;
  border-color: #ff0000;
}

.card {
  background-color: #2c2c2c;
  color: #ffffff;
  border: none;
  box-shadow: 3px 3px 3px 2px rgba(255, 255, 255, 0.2);
}

.star-wars-logo {
  width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  .star-wars-logo {
    width: 150px;
  }
}
